__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

outputs/
results/
*.pth
*.pt
*.ckpt

data/demo/images/
data/demo/masks/

.Didea/
.vscode/
*.swp
.DS_Store
